In [84]:
from scraper import scrape
import pprint
import pandas as pd
import csv
import json

In [2]:
# Use Pandas to read data
states_pd = pd.read_csv("states.csv", "utf-8")

C:\Users\T430s\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
# Convert df to list
states = states_pd['State_Name'].values.tolist()

In [4]:
print(states)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [5]:
# Convert list to lowercase values
states_lower = []
for state in states:
    states_lower.append(state.lower())
    
print(states_lower)

['alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming']

In [6]:
base_url = "https://www.usnews.com/news/best-states/"

In [7]:
state = "washington"

In [8]:
state_scraped = scrape(base_url + state)

In [9]:
# Save div as object to scrape & find area, gdp

quick_stats0 = state_scraped.find("div", class_="Cell-s1jgw6rh-0").find("dl", class_="QuickStats-s9hlu1u-0")
area = quick_stats0.dd.text
gdp = quick_stats0.find_all("dd")[1].text

# Save div as object to scrape & find college educated & population
quick_stats1 = state_scraped.find("div", class_="Cell-s1jgw6rh-0").find_all("dl", class_="QuickStats-s9hlu1u-0")[1]
college_educated = quick_stats1.dd.text
population = quick_stats1.find_all("dd")[1].text

# Save div as object to scrape & find median income
quick_stats2 = state_scraped.find("div", class_="Cell-s1jgw6rh-0").find_all("dl", class_="QuickStats-s9hlu1u-0")[2]
med_income = quick_stats2.find_all("dd")[1].text

In [10]:
div = state_scraped.find("div", class_="Grid-s1x0i6w9-0").find_all("dl", class_="QuickStats-s9hlu1u-0")

quick_stats = {}

for d in div[:3]:
    for i in d.dt:
        print(i)
        key = i
    for i in d.dd:
        print(i)
        value = i
    quick_stats[key] = [value]
        
print(quick_stats)

Area
71,298 SQ. MI.
College Educated
46%
Capital
Olympia
{'Area': ['71,298 SQ. MI.'], 'College Educated': ['46%'], 'Capital': ['Olympia']}

In [77]:
div = state_scraped.find("div", class_="Grid-s1x0i6w9-0").find_all("dl", class_="QuickStats-s9hlu1u-0")

quick_stats = {}

list = []

for d in div[:3]:
    for i in d:
        list.append(i.text)

category = (list[::2])
cat_value = (list[1::2])   

print(category)
print(cat_value)

quick_stats_dict = dict(zip(category, cat_value))
print(quick_stats_dict)

['Area', 'GDP', 'College Educated', 'Population', 'Capital', 'Median Income']
['71,298 SQ. MI.', '$524.323 Billion', '46%', '7,405,743', 'Olympia', '$36,975']
{'Area': '71,298 SQ. MI.', 'GDP': '$524.323 Billion', 'College Educated': '46%', 'Population': '7,405,743', 'Capital': 'Olympia', 'Median Income': '$36,975'}

In [73]:
category = []

for i in range(0, len(list), 2):
    category.append(i)
    
print(category)

[0, 2, 4, 6, 8, 10]

In [46]:
div = state_scraped.find("div", class_="Grid-s1x0i6w9-0 igMYg").find_all("dl", class_="QuickStats-s9hlu1u-0")

quick_stats = {}

for d in div[:3]:
    print(d)

<dl class="QuickStats-s9hlu1u-0 esdyci"><dt>Area</dt><dd>71,298 SQ. MI.</dd><dt>GDP</dt><dd>$524.323 Billion</dd></dl>
<dl class="QuickStats-s9hlu1u-0 esdyci"><dt>College Educated</dt><dd>46%</dd><dt>Population</dt><dd>7,405,743</dd></dl>
<dl class="QuickStats-s9hlu1u-0 esdyci"><dt>Capital</dt><dd>Olympia</dd><dt>Median Income</dt><dd>$36,975</dd></dl>

In [12]:
div = state_scraped.find("div", class_="Grid-s1x0i6w9-0 igMYg").find_all("dl", class_="QuickStats-s9hlu1u-0")

quick_stats = {}

for d in div:
    #quick_stats.append("")
    key = d.dt.text
    value = d.dd.text
    quick_stats[key] = [value]
    
    
print(quick_stats)

{'Area': ['71,298 SQ. MI.'], 'College Educated': ['46%'], 'Capital': ['Olympia']}

In [90]:
# Save new div as object to scrape & find rankings
rankings = state_scraped.find("div", class_="Cell-s1jgw6rh-0")
rank_list = rankings.find("ul")

# Save new div as object to scrape & find overall rating
overall_rating  = rankings.find_all("div", class_="DonutMeter__Wrapper-s1jo49pn-0 gNXJuS")[0].text
# Save as integer to be calculated
overall_rating_num = int(overall_rating.replace("#",""))

ranking_title = []
rankings = []

for list in rank_list:
    ranking_title.append(list.find("span").text)
    rankings.append(list.find("b").text)

# Must remove # from each number & convert to int to perform calculations
new_rankings = []

for rank in rankings:
    new_rankings.append(int(rank.replace("#","")))

# Calculate "rank" into "percentage" 
perc_rankings = []
for rank in new_rankings:
    perc_rankings.append(100 - (rank/2))

# Save ranking values into dataframe
rankings_df = pd.DataFrame({'Category': ranking_title,
                            'Rank' : rankings,
                            'Value' : new_rankings,
                            'Percentage': perc_rankings
                           })

# Convert to dictionary
rankings_dict = rankings_df.to_dict('list')


# Create new dictionary from all variables
state_dict = {
    "Overall Rating": overall_rating,
    "Overall Rating Number": overall_rating_num,
    "State": state,
    "Stats Dictionary": quick_stats_dict,
    "Rank Dictionary": new_df 
    }

In [82]:
rankings_df

               Category Rank  Value  Percentage
0          Health Care    #4      4        98.0
1            Education    #4      4        98.0
2              Economy    #3      3        98.5
3       Infrastructure    #2      2        99.0
4          Opportunity   #19     19        90.5
5     Fiscal Stability   #22     22        89.0
6  Crime & Corrections   #15     15        92.5
7  Natural Environment   #14     14        93.0

In [95]:
new_df = rankings_df.to_dict(orient='records')[1:-1]
new_df

[{'Category': 'Education ', 'Rank': '#4', 'Value': 4, 'Percentage': 98.0},
 {'Category': 'Economy ', 'Rank': '#3', 'Value': 3, 'Percentage': 98.5},
 {'Category': 'Infrastructure ', 'Rank': '#2', 'Value': 2, 'Percentage': 99.0},
 {'Category': 'Opportunity ', 'Rank': '#19', 'Value': 19, 'Percentage': 90.5},
 {'Category': 'Fiscal Stability ',
  'Rank': '#22',
  'Value': 22,
  'Percentage': 89.0},
 {'Category': 'Crime & Corrections ',
  'Rank': '#15',
  'Value': 15,
  'Percentage': 92.5}]

In [96]:
state_dict

{'Overall Rating': '#1',
 'Overall Rating Number': 1,
 'State': 'washington',
 'Stats Dictionary': {'Area': '71,298 SQ. MI.',
  'GDP': '$524.323 Billion',
  'College Educated': '46%',
  'Population': '7,405,743',
  'Capital': 'Olympia',
  'Median Income': '$36,975'},
 'Rank Dictionary': '{"Category":"Health Care ","Rank":"#4","Value":4,"Percentage":98.0} {"Category":"Education ","Rank":"#4","Value":4,"Percentage":98.0} {"Category":"Economy ","Rank":"#3","Value":3,"Percentage":98.5} {"Category":"Infrastructure ","Rank":"#2","Value":2,"Percentage":99.0} {"Category":"Opportunity ","Rank":"#19","Value":19,"Percentage":90.5} {"Category":"Fiscal Stability ","Rank":"#22","Value":22,"Percentage":89.0} {"Category":"Crime & Corrections ","Rank":"#15","Value":15,"Percentage":92.5} {"Category":"Natural Environment ","Rank":"#14","Value":14,"Percentage":93.0}'}

In [97]:
with open('state_result.json', 'w') as fp:
    json.dump(state_dict, fp)