In [1]:
import json
import pandas as pd

from geopy.geocoders import Nominatim

geolocator = Nominatim(country_bias='US', user_agent="job_coordinates")

In [2]:
# test variables to save time
# search_job = ['data scientist', 'data engineer']
# search_city = ['san diego', 'san francisco']

search_job = ['data scientist', 'data engineer', 'data analyst', 'statistician', 'data & analytics manager']
search_city = ['ann arbor', 'atlanta', 'austin', 'boston', 'charlotte', 'chicago', 'cincinnati', 'columbia', 'dallas', 'denver', 'houston', 'jacksonville', 'los angeles', 'louisville', 'miami', 'minneapolis', 'nashville', 'new york', 'newport news', 'phoenix', 'san diego', 'san francisco', 'seattle', 'virginia beach']

coord = {}
df = pd.read_csv('job_income.csv')
df.set_index('city', inplace=True)

dt = df.to_dict('index')

feature_list = []

In [3]:
dt

{'ann arbor': {'data scientist': 98300.0,
  'data engineer': 86500.0,
  'data analyst': 57000.0,
  'statistician': 84000.0,
  'data & analytics manager': 99000.0},
 'atlanta': {'data scientist': 96000.0,
  'data engineer': 82000.0,
  'data analyst': 61500.0,
  'statistician': 84500.0,
  'data & analytics manager': 100000.0},
 'austin': {'data scientist': 98500.0,
  'data engineer': 96000.0,
  'data analyst': 60000.0,
  'statistician': 71500.0,
  'data & analytics manager': 92100.0},
 'boston': {'data scientist': 106000.0,
  'data engineer': 90000.0,
  'data analyst': 64000.0,
  'statistician': 70000.0,
  'data & analytics manager': 104000.0},
 'charlotte': {'data scientist': 92500.0,
  'data engineer': 60300.0,
  'data analyst': 62400.0,
  'statistician': 74700.0,
  'data & analytics manager': 120000.0},
 'chicago': {'data scientist': 95000.0,
  'data engineer': 81000.0,
  'data analyst': 60000.0,
  'statistician': 86000.0,
  'data & analytics manager': 104000.0},
 'cincinnati': {'data scientist': 91300.0,
  'data engineer': 79800.0,
  'data analyst': 50000.0,
  'statistician': 73600.0,
  'data & analytics manager': 97500.0},
 'columbia': {'data scientist': 84400.0,
  'data engineer': 75600.0,
  'data analyst': 44500.0,
  'statistician': 63200.0,
  'data & analytics manager': 91200.0},
 'dallas': {'data scientist': 95000.0,
  'data engineer': 85700.0,
  'data analyst': 64500.0,
  'statistician': 72000.0,
  'data & analytics manager': 105000.0},
 'denver': {'data scientist': 100000.0,
  'data engineer': 87800.0,
  'data analyst': 63000.0,
  'statistician': 84500.0,
  'data & analytics manager': 100000.0},
 'houston': {'data scientist': 105000.0,
  'data engineer': 84500.0,
  'data analyst': 60000.0,
  'statistician': 75300.0,
  'data & analytics manager': 110000.0},
 'jacksonville': {'data scientist': 105000.0,
  'data engineer': 97400.0,
  'data analyst': 55000.0,
  'statistician': 72300.0,
  'data & analytics manager': 109000.0},
 'los angeles': {'data scientist': 115000.0,
  'data engineer': 107000.0,
  'data analyst': 65000.0,
  'statistician': 81000.0,
  'data & analytics manager': 107000.0},
 'louisville': {'data scientist': 98200.0,
  'data engineer': 79800.0,
  'data analyst': 53000.0,
  'statistician': 71800.0,
  'data & analytics manager': 96800.0},
 'miami': {'data scientist': 93200.0,
  'data engineer': 97400.0,
  'data analyst': 54800.0,
  'statistician': 76200.0,
  'data & analytics manager': 93900.0},
 'minneapolis': {'data scientist': 91500.0,
  'data engineer': 84800.0,
  'data analyst': 65000.0,
  'statistician': 84000.0,
  'data & analytics manager': 117000.0},
 'nashville': {'data scientist': 100000.0,
  'data engineer': 88000.0,
  'data analyst': 55500.0,
  'statistician': 84000.0,
  'data & analytics manager': 107000.0},
 'new york': {'data scientist': 110000.0,
  'data engineer': 105000.0,
  'data analyst': 65000.0,
  'statistician': 90000.0,
  'data & analytics manager': 108000.0},
 'newport news': {'data scientist': 105000.0,
  'data engineer': 97400.0,
  'data analyst': 60000.0,
  'statistician': 84000.0,
  'data & analytics manager': 107000.0},
 'phoenix': {'data scientist': 95000.0,
  'data engineer': 87000.0,
  'data analyst': 58100.0,
  'statistician': 75800.0,
  'data & analytics manager': 102000.0},
 'san diego': {'data scientist': 115000.0,
  'data engineer': 97400.0,
  'data analyst': 60000.0,
  'statistician': 85900.0,
  'data & analytics manager': 122000.0},
 'san francisco': {'data scientist': 130000.0,
  'data engineer': 120000.0,
  'data analyst': 80000.0,
  'statistician': 92500.0,
  'data & analytics manager': 130000.0},
 'seattle': {'data scientist': 120000.0,
  'data engineer': 113000.0,
  'data analyst': 67500.0,
  'statistician': 94900.0,
  'data & analytics manager': 115000.0},
 'virginia beach': {'data scientist': 105000.0,
  'data engineer': 97400.0,
  'data analyst': 60000.0,
  'statistician': 84000.0,
  'data & analytics manager': 107700.0}}

In [4]:
dt['ann arbor']

{'data scientist': 98300.0,
 'data engineer': 86500.0,
 'data analyst': 57000.0,
 'statistician': 84000.0,
 'data & analytics manager': 99000.0}

In [5]:
for city in search_city:
    get_coords = geolocator.geocode(city)
    lat = get_coords.latitude
    lon = get_coords.longitude
    job_average = dt[city]
    feature_list.append({'type': 'Feature',
    'geometry': {
        'type': 'Point',
        'coordinates': [lon, lat]
    },
    'properties': {
        'title': city,
    }
})

feature_list

[{'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-83.7312291, 42.2681569]},
  'properties': {'title': 'ann arbor'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-84.3901849, 33.7490987]},
  'properties': {'title': 'atlanta'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.7436995, 30.2711286]},
  'properties': {'title': 'austin'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-71.0582912, 42.3602534]},
  'properties': {'title': 'boston'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-80.8431268, 35.2270869]},
  'properties': {'title': 'charlotte'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-87.6244212, 41.8755616]},
  'properties': {'title': 'chicago'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-84.5124602, 39.1014537]},
  'properties': {'title': 'cincinnati'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-81.0343313, 34.0007493]},
  'properties': {'title': 'columbia'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-96.7968559, 32.7762719]},
  'properties': {'title': 'dallas'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-104.9848623, 39.7392364]},
  'properties': {'title': 'denver'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-95.3676974, 29.7589382]},
  'properties': {'title': 'houston'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-81.655651, 30.3321838]},
  'properties': {'title': 'jacksonville'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-118.2427666, 34.0536909]},
  'properties': {'title': 'los angeles'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-85.759407, 38.2542376]},
  'properties': {'title': 'louisville'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-80.1936589, 25.7742658]},
  'properties': {'title': 'miami'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-93.2654692, 44.9772995]},
  'properties': {'title': 'minneapolis'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-86.7743531, 36.1622296]},
  'properties': {'title': 'nashville'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-74.0060152, 40.7127281]},
  'properties': {'title': 'new york'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-76.4321089, 36.9786449]},
  'properties': {'title': 'newport news'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-112.0773456, 33.4485866]},
  'properties': {'title': 'phoenix'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-117.1627714, 32.7174209]},
  'properties': {'title': 'san diego'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-122.4192363, 37.7792808]},
  'properties': {'title': 'san francisco'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-122.3300624, 47.6038321]},
  'properties': {'title': 'seattle'}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-75.9774183, 36.8529841]},
  'properties': {'title': 'virginia beach'}}]

In [6]:
feature_list[0]['properties']

{'title': 'ann arbor'}

In [7]:
with open('job_counts.json') as json_data:
    data_jobs = json.load(json_data)

data_jobs

{'data scientist': {'ann arbor': 9,
  'atlanta': 30,
  'austin': None,
  'boston': 77,
  'charlotte': 6,
  'chicago': 42,
  'cincinnati': 15,
  'columbia': 0,
  'dallas': 15,
  'denver': 11,
  'houston': 12,
  'jacksonville': 0,
  'los angeles': 95,
  'louisville': 2,
  'miami': 9,
  'minneapolis': 11,
  'nashville': 4,
  'new york': 94,
  'newport news': None,
  'phoenix': 8,
  'san diego': 24,
  'san francisco': 89,
  'seattle': 12,
  'virginia beach': None},
 'data engineer': {'ann arbor': 300,
  'atlanta': 300,
  'austin': 300,
  'boston': 300,
  'charlotte': 300,
  'chicago': 300,
  'cincinnati': 201,
  'columbia': 30,
  'dallas': 300,
  'denver': 300,
  'houston': 300,
  'jacksonville': 194,
  'los angeles': 300,
  'louisville': 107,
  'miami': 239,
  'minneapolis': 300,
  'nashville': 148,
  'new york': 300,
  'newport news': 82,
  'phoenix': 275,
  'san diego': 241,
  'san francisco': 300,
  'seattle': 300,
  'virginia beach': 81},
 'data analyst': {'ann arbor': 84,
  'atlanta': 285,
  'austin': 120,
  'boston': 300,
  'charlotte': 252,
  'chicago': 300,
  'cincinnati': 95,
  'columbia': 14,
  'dallas': 300,
  'denver': 134,
  'houston': 231,
  'jacksonville': 84,
  'los angeles': 300,
  'louisville': 31,
  'miami': 143,
  'minneapolis': 252,
  'nashville': 125,
  'new york': 300,
  'newport news': 45,
  'phoenix': 123,
  'san diego': 96,
  'san francisco': 300,
  'seattle': 91,
  'virginia beach': 45},
 'statistician': {'ann arbor': 28,
  'atlanta': 66,
  'austin': 6,
  'boston': 94,
  'charlotte': 18,
  'chicago': 149,
  'cincinnati': 23,
  'columbia': None,
  'dallas': 108,
  'denver': 37,
  'houston': 79,
  'jacksonville': 12,
  'los angeles': 148,
  'louisville': 6,
  'miami': 50,
  'minneapolis': 57,
  'nashville': 30,
  'new york': 168,
  'newport news': 8,
  'phoenix': 26,
  'san diego': 23,
  'san francisco': 91,
  'seattle': 31,
  'virginia beach': 8},
 'data & analytics manager': {'ann arbor': 21,
  'atlanta': 86,
  'austin': 39,
  'boston': 61,
  'charlotte': 42,
  'chicago': 119,
  'cincinnati': 15,
  'columbia': 3,
  'dallas': 84,
  'denver': 28,
  'houston': 41,
  'jacksonville': 11,
  'los angeles': 97,
  'louisville': 6,
  'miami': 23,
  'minneapolis': 19,
  'nashville': 13,
  'new york': 160,
  'newport news': 13,
  'phoenix': 32,
  'san diego': 15,
  'san francisco': 85,
  'seattle': 32,
  'virginia beach': 13}}

In [8]:
keys = data_jobs.keys()

In [9]:
data_jobs['data analyst']

{'ann arbor': 84,
 'atlanta': 285,
 'austin': 120,
 'boston': 300,
 'charlotte': 252,
 'chicago': 300,
 'cincinnati': 95,
 'columbia': 14,
 'dallas': 300,
 'denver': 134,
 'houston': 231,
 'jacksonville': 84,
 'los angeles': 300,
 'louisville': 31,
 'miami': 143,
 'minneapolis': 252,
 'nashville': 125,
 'new york': 300,
 'newport news': 45,
 'phoenix': 123,
 'san diego': 96,
 'san francisco': 300,
 'seattle': 91,
 'virginia beach': 45}

In [10]:
# Loops to append job lists to geojson

for f in feature_list:
    city = (f['properties']['title'])
   
    for key in data_jobs:
        value = data_jobs[key]
        f['properties'][key] = {'number_jobs': value[city],
                               'avg_salary': dt[city][key]}

In [11]:
feature_list

[{'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-83.7312291, 42.2681569]},
  'properties': {'title': 'ann arbor',
   'data scientist': {'number_jobs': 9, 'avg_salary': 98300.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 86500.0},
   'data analyst': {'number_jobs': 84, 'avg_salary': 57000.0},
   'statistician': {'number_jobs': 28, 'avg_salary': 84000.0},
   'data & analytics manager': {'number_jobs': 21, 'avg_salary': 99000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-84.3901849, 33.7490987]},
  'properties': {'title': 'atlanta',
   'data scientist': {'number_jobs': 30, 'avg_salary': 96000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 82000.0},
   'data analyst': {'number_jobs': 285, 'avg_salary': 61500.0},
   'statistician': {'number_jobs': 66, 'avg_salary': 84500.0},
   'data & analytics manager': {'number_jobs': 86, 'avg_salary': 100000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.7436995, 30.2711286]},
  'properties': {'title': 'austin',
   'data scientist': {'number_jobs': None, 'avg_salary': 98500.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 96000.0},
   'data analyst': {'number_jobs': 120, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 6, 'avg_salary': 71500.0},
   'data & analytics manager': {'number_jobs': 39, 'avg_salary': 92100.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-71.0582912, 42.3602534]},
  'properties': {'title': 'boston',
   'data scientist': {'number_jobs': 77, 'avg_salary': 106000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 90000.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 64000.0},
   'statistician': {'number_jobs': 94, 'avg_salary': 70000.0},
   'data & analytics manager': {'number_jobs': 61, 'avg_salary': 104000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-80.8431268, 35.2270869]},
  'properties': {'title': 'charlotte',
   'data scientist': {'number_jobs': 6, 'avg_salary': 92500.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 60300.0},
   'data analyst': {'number_jobs': 252, 'avg_salary': 62400.0},
   'statistician': {'number_jobs': 18, 'avg_salary': 74700.0},
   'data & analytics manager': {'number_jobs': 42, 'avg_salary': 120000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-87.6244212, 41.8755616]},
  'properties': {'title': 'chicago',
   'data scientist': {'number_jobs': 42, 'avg_salary': 95000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 81000.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 149, 'avg_salary': 86000.0},
   'data & analytics manager': {'number_jobs': 119, 'avg_salary': 104000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-84.5124602, 39.1014537]},
  'properties': {'title': 'cincinnati',
   'data scientist': {'number_jobs': 15, 'avg_salary': 91300.0},
   'data engineer': {'number_jobs': 201, 'avg_salary': 79800.0},
   'data analyst': {'number_jobs': 95, 'avg_salary': 50000.0},
   'statistician': {'number_jobs': 23, 'avg_salary': 73600.0},
   'data & analytics manager': {'number_jobs': 15, 'avg_salary': 97500.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-81.0343313, 34.0007493]},
  'properties': {'title': 'columbia',
   'data scientist': {'number_jobs': 0, 'avg_salary': 84400.0},
   'data engineer': {'number_jobs': 30, 'avg_salary': 75600.0},
   'data analyst': {'number_jobs': 14, 'avg_salary': 44500.0},
   'statistician': {'number_jobs': None, 'avg_salary': 63200.0},
   'data & analytics manager': {'number_jobs': 3, 'avg_salary': 91200.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-96.7968559, 32.7762719]},
  'properties': {'title': 'dallas',
   'data scientist': {'number_jobs': 15, 'avg_salary': 95000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 85700.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 64500.0},
   'statistician': {'number_jobs': 108, 'avg_salary': 72000.0},
   'data & analytics manager': {'number_jobs': 84, 'avg_salary': 105000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-104.9848623, 39.7392364]},
  'properties': {'title': 'denver',
   'data scientist': {'number_jobs': 11, 'avg_salary': 100000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 87800.0},
   'data analyst': {'number_jobs': 134, 'avg_salary': 63000.0},
   'statistician': {'number_jobs': 37, 'avg_salary': 84500.0},
   'data & analytics manager': {'number_jobs': 28, 'avg_salary': 100000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-95.3676974, 29.7589382]},
  'properties': {'title': 'houston',
   'data scientist': {'number_jobs': 12, 'avg_salary': 105000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 84500.0},
   'data analyst': {'number_jobs': 231, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 79, 'avg_salary': 75300.0},
   'data & analytics manager': {'number_jobs': 41, 'avg_salary': 110000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-81.655651, 30.3321838]},
  'properties': {'title': 'jacksonville',
   'data scientist': {'number_jobs': 0, 'avg_salary': 105000.0},
   'data engineer': {'number_jobs': 194, 'avg_salary': 97400.0},
   'data analyst': {'number_jobs': 84, 'avg_salary': 55000.0},
   'statistician': {'number_jobs': 12, 'avg_salary': 72300.0},
   'data & analytics manager': {'number_jobs': 11, 'avg_salary': 109000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-118.2427666, 34.0536909]},
  'properties': {'title': 'los angeles',
   'data scientist': {'number_jobs': 95, 'avg_salary': 115000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 107000.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 65000.0},
   'statistician': {'number_jobs': 148, 'avg_salary': 81000.0},
   'data & analytics manager': {'number_jobs': 97, 'avg_salary': 107000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-85.759407, 38.2542376]},
  'properties': {'title': 'louisville',
   'data scientist': {'number_jobs': 2, 'avg_salary': 98200.0},
   'data engineer': {'number_jobs': 107, 'avg_salary': 79800.0},
   'data analyst': {'number_jobs': 31, 'avg_salary': 53000.0},
   'statistician': {'number_jobs': 6, 'avg_salary': 71800.0},
   'data & analytics manager': {'number_jobs': 6, 'avg_salary': 96800.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-80.1936589, 25.7742658]},
  'properties': {'title': 'miami',
   'data scientist': {'number_jobs': 9, 'avg_salary': 93200.0},
   'data engineer': {'number_jobs': 239, 'avg_salary': 97400.0},
   'data analyst': {'number_jobs': 143, 'avg_salary': 54800.0},
   'statistician': {'number_jobs': 50, 'avg_salary': 76200.0},
   'data & analytics manager': {'number_jobs': 23, 'avg_salary': 93900.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-93.2654692, 44.9772995]},
  'properties': {'title': 'minneapolis',
   'data scientist': {'number_jobs': 11, 'avg_salary': 91500.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 84800.0},
   'data analyst': {'number_jobs': 252, 'avg_salary': 65000.0},
   'statistician': {'number_jobs': 57, 'avg_salary': 84000.0},
   'data & analytics manager': {'number_jobs': 19, 'avg_salary': 117000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-86.7743531, 36.1622296]},
  'properties': {'title': 'nashville',
   'data scientist': {'number_jobs': 4, 'avg_salary': 100000.0},
   'data engineer': {'number_jobs': 148, 'avg_salary': 88000.0},
   'data analyst': {'number_jobs': 125, 'avg_salary': 55500.0},
   'statistician': {'number_jobs': 30, 'avg_salary': 84000.0},
   'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-74.0060152, 40.7127281]},
  'properties': {'title': 'new york',
   'data scientist': {'number_jobs': 94, 'avg_salary': 110000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 105000.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 65000.0},
   'statistician': {'number_jobs': 168, 'avg_salary': 90000.0},
   'data & analytics manager': {'number_jobs': 160, 'avg_salary': 108000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-76.4321089, 36.9786449]},
  'properties': {'title': 'newport news',
   'data scientist': {'number_jobs': None, 'avg_salary': 105000.0},
   'data engineer': {'number_jobs': 82, 'avg_salary': 97400.0},
   'data analyst': {'number_jobs': 45, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 8, 'avg_salary': 84000.0},
   'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-112.0773456, 33.4485866]},
  'properties': {'title': 'phoenix',
   'data scientist': {'number_jobs': 8, 'avg_salary': 95000.0},
   'data engineer': {'number_jobs': 275, 'avg_salary': 87000.0},
   'data analyst': {'number_jobs': 123, 'avg_salary': 58100.0},
   'statistician': {'number_jobs': 26, 'avg_salary': 75800.0},
   'data & analytics manager': {'number_jobs': 32, 'avg_salary': 102000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-117.1627714, 32.7174209]},
  'properties': {'title': 'san diego',
   'data scientist': {'number_jobs': 24, 'avg_salary': 115000.0},
   'data engineer': {'number_jobs': 241, 'avg_salary': 97400.0},
   'data analyst': {'number_jobs': 96, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 23, 'avg_salary': 85900.0},
   'data & analytics manager': {'number_jobs': 15, 'avg_salary': 122000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-122.4192363, 37.7792808]},
  'properties': {'title': 'san francisco',
   'data scientist': {'number_jobs': 89, 'avg_salary': 130000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 120000.0},
   'data analyst': {'number_jobs': 300, 'avg_salary': 80000.0},
   'statistician': {'number_jobs': 91, 'avg_salary': 92500.0},
   'data & analytics manager': {'number_jobs': 85, 'avg_salary': 130000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-122.3300624, 47.6038321]},
  'properties': {'title': 'seattle',
   'data scientist': {'number_jobs': 12, 'avg_salary': 120000.0},
   'data engineer': {'number_jobs': 300, 'avg_salary': 113000.0},
   'data analyst': {'number_jobs': 91, 'avg_salary': 67500.0},
   'statistician': {'number_jobs': 31, 'avg_salary': 94900.0},
   'data & analytics manager': {'number_jobs': 32, 'avg_salary': 115000.0}}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-75.9774183, 36.8529841]},
  'properties': {'title': 'virginia beach',
   'data scientist': {'number_jobs': None, 'avg_salary': 105000.0},
   'data engineer': {'number_jobs': 81, 'avg_salary': 97400.0},
   'data analyst': {'number_jobs': 45, 'avg_salary': 60000.0},
   'statistician': {'number_jobs': 8, 'avg_salary': 84000.0},
   'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107700.0}}}]

In [12]:
geojson = {
  'type': 'FeatureCollection',
  'features': feature_list
}

In [13]:
geojson

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-83.7312291, 42.2681569]},
   'properties': {'title': 'ann arbor',
    'data scientist': {'number_jobs': 9, 'avg_salary': 98300.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 86500.0},
    'data analyst': {'number_jobs': 84, 'avg_salary': 57000.0},
    'statistician': {'number_jobs': 28, 'avg_salary': 84000.0},
    'data & analytics manager': {'number_jobs': 21, 'avg_salary': 99000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-84.3901849, 33.7490987]},
   'properties': {'title': 'atlanta',
    'data scientist': {'number_jobs': 30, 'avg_salary': 96000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 82000.0},
    'data analyst': {'number_jobs': 285, 'avg_salary': 61500.0},
    'statistician': {'number_jobs': 66, 'avg_salary': 84500.0},
    'data & analytics manager': {'number_jobs': 86, 'avg_salary': 100000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-97.7436995, 30.2711286]},
   'properties': {'title': 'austin',
    'data scientist': {'number_jobs': None, 'avg_salary': 98500.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 96000.0},
    'data analyst': {'number_jobs': 120, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 6, 'avg_salary': 71500.0},
    'data & analytics manager': {'number_jobs': 39, 'avg_salary': 92100.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-71.0582912, 42.3602534]},
   'properties': {'title': 'boston',
    'data scientist': {'number_jobs': 77, 'avg_salary': 106000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 90000.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 64000.0},
    'statistician': {'number_jobs': 94, 'avg_salary': 70000.0},
    'data & analytics manager': {'number_jobs': 61, 'avg_salary': 104000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-80.8431268, 35.2270869]},
   'properties': {'title': 'charlotte',
    'data scientist': {'number_jobs': 6, 'avg_salary': 92500.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 60300.0},
    'data analyst': {'number_jobs': 252, 'avg_salary': 62400.0},
    'statistician': {'number_jobs': 18, 'avg_salary': 74700.0},
    'data & analytics manager': {'number_jobs': 42, 'avg_salary': 120000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-87.6244212, 41.8755616]},
   'properties': {'title': 'chicago',
    'data scientist': {'number_jobs': 42, 'avg_salary': 95000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 81000.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 149, 'avg_salary': 86000.0},
    'data & analytics manager': {'number_jobs': 119, 'avg_salary': 104000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-84.5124602, 39.1014537]},
   'properties': {'title': 'cincinnati',
    'data scientist': {'number_jobs': 15, 'avg_salary': 91300.0},
    'data engineer': {'number_jobs': 201, 'avg_salary': 79800.0},
    'data analyst': {'number_jobs': 95, 'avg_salary': 50000.0},
    'statistician': {'number_jobs': 23, 'avg_salary': 73600.0},
    'data & analytics manager': {'number_jobs': 15, 'avg_salary': 97500.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-81.0343313, 34.0007493]},
   'properties': {'title': 'columbia',
    'data scientist': {'number_jobs': 0, 'avg_salary': 84400.0},
    'data engineer': {'number_jobs': 30, 'avg_salary': 75600.0},
    'data analyst': {'number_jobs': 14, 'avg_salary': 44500.0},
    'statistician': {'number_jobs': None, 'avg_salary': 63200.0},
    'data & analytics manager': {'number_jobs': 3, 'avg_salary': 91200.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-96.7968559, 32.7762719]},
   'properties': {'title': 'dallas',
    'data scientist': {'number_jobs': 15, 'avg_salary': 95000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 85700.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 64500.0},
    'statistician': {'number_jobs': 108, 'avg_salary': 72000.0},
    'data & analytics manager': {'number_jobs': 84, 'avg_salary': 105000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-104.9848623, 39.7392364]},
   'properties': {'title': 'denver',
    'data scientist': {'number_jobs': 11, 'avg_salary': 100000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 87800.0},
    'data analyst': {'number_jobs': 134, 'avg_salary': 63000.0},
    'statistician': {'number_jobs': 37, 'avg_salary': 84500.0},
    'data & analytics manager': {'number_jobs': 28, 'avg_salary': 100000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-95.3676974, 29.7589382]},
   'properties': {'title': 'houston',
    'data scientist': {'number_jobs': 12, 'avg_salary': 105000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 84500.0},
    'data analyst': {'number_jobs': 231, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 79, 'avg_salary': 75300.0},
    'data & analytics manager': {'number_jobs': 41, 'avg_salary': 110000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-81.655651, 30.3321838]},
   'properties': {'title': 'jacksonville',
    'data scientist': {'number_jobs': 0, 'avg_salary': 105000.0},
    'data engineer': {'number_jobs': 194, 'avg_salary': 97400.0},
    'data analyst': {'number_jobs': 84, 'avg_salary': 55000.0},
    'statistician': {'number_jobs': 12, 'avg_salary': 72300.0},
    'data & analytics manager': {'number_jobs': 11, 'avg_salary': 109000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-118.2427666, 34.0536909]},
   'properties': {'title': 'los angeles',
    'data scientist': {'number_jobs': 95, 'avg_salary': 115000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 107000.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 65000.0},
    'statistician': {'number_jobs': 148, 'avg_salary': 81000.0},
    'data & analytics manager': {'number_jobs': 97, 'avg_salary': 107000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-85.759407, 38.2542376]},
   'properties': {'title': 'louisville',
    'data scientist': {'number_jobs': 2, 'avg_salary': 98200.0},
    'data engineer': {'number_jobs': 107, 'avg_salary': 79800.0},
    'data analyst': {'number_jobs': 31, 'avg_salary': 53000.0},
    'statistician': {'number_jobs': 6, 'avg_salary': 71800.0},
    'data & analytics manager': {'number_jobs': 6, 'avg_salary': 96800.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-80.1936589, 25.7742658]},
   'properties': {'title': 'miami',
    'data scientist': {'number_jobs': 9, 'avg_salary': 93200.0},
    'data engineer': {'number_jobs': 239, 'avg_salary': 97400.0},
    'data analyst': {'number_jobs': 143, 'avg_salary': 54800.0},
    'statistician': {'number_jobs': 50, 'avg_salary': 76200.0},
    'data & analytics manager': {'number_jobs': 23, 'avg_salary': 93900.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-93.2654692, 44.9772995]},
   'properties': {'title': 'minneapolis',
    'data scientist': {'number_jobs': 11, 'avg_salary': 91500.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 84800.0},
    'data analyst': {'number_jobs': 252, 'avg_salary': 65000.0},
    'statistician': {'number_jobs': 57, 'avg_salary': 84000.0},
    'data & analytics manager': {'number_jobs': 19, 'avg_salary': 117000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-86.7743531, 36.1622296]},
   'properties': {'title': 'nashville',
    'data scientist': {'number_jobs': 4, 'avg_salary': 100000.0},
    'data engineer': {'number_jobs': 148, 'avg_salary': 88000.0},
    'data analyst': {'number_jobs': 125, 'avg_salary': 55500.0},
    'statistician': {'number_jobs': 30, 'avg_salary': 84000.0},
    'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-74.0060152, 40.7127281]},
   'properties': {'title': 'new york',
    'data scientist': {'number_jobs': 94, 'avg_salary': 110000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 105000.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 65000.0},
    'statistician': {'number_jobs': 168, 'avg_salary': 90000.0},
    'data & analytics manager': {'number_jobs': 160, 'avg_salary': 108000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-76.4321089, 36.9786449]},
   'properties': {'title': 'newport news',
    'data scientist': {'number_jobs': None, 'avg_salary': 105000.0},
    'data engineer': {'number_jobs': 82, 'avg_salary': 97400.0},
    'data analyst': {'number_jobs': 45, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 8, 'avg_salary': 84000.0},
    'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-112.0773456, 33.4485866]},
   'properties': {'title': 'phoenix',
    'data scientist': {'number_jobs': 8, 'avg_salary': 95000.0},
    'data engineer': {'number_jobs': 275, 'avg_salary': 87000.0},
    'data analyst': {'number_jobs': 123, 'avg_salary': 58100.0},
    'statistician': {'number_jobs': 26, 'avg_salary': 75800.0},
    'data & analytics manager': {'number_jobs': 32, 'avg_salary': 102000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-117.1627714, 32.7174209]},
   'properties': {'title': 'san diego',
    'data scientist': {'number_jobs': 24, 'avg_salary': 115000.0},
    'data engineer': {'number_jobs': 241, 'avg_salary': 97400.0},
    'data analyst': {'number_jobs': 96, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 23, 'avg_salary': 85900.0},
    'data & analytics manager': {'number_jobs': 15, 'avg_salary': 122000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-122.4192363, 37.7792808]},
   'properties': {'title': 'san francisco',
    'data scientist': {'number_jobs': 89, 'avg_salary': 130000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 120000.0},
    'data analyst': {'number_jobs': 300, 'avg_salary': 80000.0},
    'statistician': {'number_jobs': 91, 'avg_salary': 92500.0},
    'data & analytics manager': {'number_jobs': 85, 'avg_salary': 130000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-122.3300624, 47.6038321]},
   'properties': {'title': 'seattle',
    'data scientist': {'number_jobs': 12, 'avg_salary': 120000.0},
    'data engineer': {'number_jobs': 300, 'avg_salary': 113000.0},
    'data analyst': {'number_jobs': 91, 'avg_salary': 67500.0},
    'statistician': {'number_jobs': 31, 'avg_salary': 94900.0},
    'data & analytics manager': {'number_jobs': 32, 'avg_salary': 115000.0}}},
  {'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [-75.9774183, 36.8529841]},
   'properties': {'title': 'virginia beach',
    'data scientist': {'number_jobs': None, 'avg_salary': 105000.0},
    'data engineer': {'number_jobs': 81, 'avg_salary': 97400.0},
    'data analyst': {'number_jobs': 45, 'avg_salary': 60000.0},
    'statistician': {'number_jobs': 8, 'avg_salary': 84000.0},
    'data & analytics manager': {'number_jobs': 13, 'avg_salary': 107700.0}}}]}

In [14]:
# Turn dictionary into JSON file
with open('city_jobs.geojson', 'w') as fp:
    json.dump(geojson, fp)